html, body, div, span, applet, object, iframe,
h1, h2, h3, .presenter-name, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

html {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

caption, th, td {
 text-align: left;
 font-weight: normal;
 vertical-align: middle;
}

q, blockquote {
 quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
 content: "";
 content: none;
}

a img {
 border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
 display: block;
}

.l-general__main {
 /* Mobile layout. */
}
@media (min-width: 555px) {
 .l-general__main {
 /* Tablet layout. */
 }
}
@media (min-width: 888px) {
 .l-general__main {
 /* Desktop layout. */
 }
}
@media (min-width: 1111px) {
 .l-general__main {
 /* Large desktop layout. */
 }
}

/* Borrowed from CSS-Tricks: http://css-tricks.com/responsive-data-tables/ */
table {
 table-layout: fixed;
 width: 100%;
 max-width: 100%;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 border-collapse: collapse;
 margin: 1.5em 0;
 line-height: 1.3;
 border: 1px solid #b9b9b9;
 font-size: 0.875em;
}

thead {
 background-color: #b9b9b9;
}
thead th {
 vertical-align: bottom;
 font-weight: 400;
 padding: 1em 0.5em;
}

tbody th, tbody td {
 border-right: 1px #b9b9b9 solid;
 vertical-align: top;
 font-weight: 300;
 line-height: 1.2;
}
tbody tr {
 border-bottom: 1px solid #b9b9b9;
}
tbody tr:nth-of-type(even) {
 background-color: #f5f5f5;
}

td, th {
 padding: 0.5em;
 text-align: left;
}

@media (max-width: 959px) {
 /* Force table to not be like tables anymore */
 table, thead, tbody, th, td, tr {
 display: block;
 }

 td {
 /* Behave like a "row" */
 position: relative;
 }

 table.js-responsivized {
 /* Hide table headers (but not display: none;, for accessibility) */
 }
 table.js-responsivized thead tr {
 position: absolute;
 top: -9999px;
 left: -9999px;
 }
 table.js-responsivized tr {
 padding-bottom: 0.5em;
 border-bottom: 0 none;
 }
 table.js-responsivized td {
 overflow: hidden;
 border-top: 1px solid #b9b9b9;
 }
 table.js-responsivized td:first-of-type {
 border-top: 0 none;
 }
 table.js-responsivized td span.th,
 table.js-responsivized td span.td {
 display: block;
 float: left;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 }
 table.js-responsivized td span.th {
 padding-right: 2%;
 width: 58%;
 }
 table.js-responsivized td span.td {
 padding-left: 2%;
 width: 38%;
 }
 table.js-responsivized td span.th:before {
 content: attr(data-row-header) ":";
 }
 table.js-responsivized td span.empty:before {
 content: attr(data-row-header);
 }
 table.js-responsivized th {
 background-color: #35abe2;
 color: #fff;
 font-weight: 400;
 }
}
html {
 overflow-y: auto;
 overflow-x: hidden;
}

* {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.container {
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
}
.container-fluid {
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
 width: 100%;
}
@media (min-width: 568px) {
 .container {
 max-width: 538px;
 }
}
@media (min-width: 768px) {
 .container {
 max-width: 738px;
 }
}
@media (min-width: 900px) {
 .container {
 max-width: 870px;
 }
}
@media (min-width: 1200px) {
 .container {
 max-width: 1170px;
 }
}
@media (min-width: 1400px) {
 .container-wide {
 max-width: 1370px;
 }
 .container-wide .row {
 margin-left: -30px;
 margin-right: -30px;
 }
 .container-wide .row > [class*=col] {
 padding-left: 30px;
 padding-right: 30px;
 }
}
@media (min-width: 2000px) {
 .container-wide {
 max-width: 1970px;
 }
}
@media (max-width: 767px) {
 .container_full-at-small {
 max-width: 100%;
 padding-left: 0;
 padding-right: 0;
 }
}
.container iframe {
 width: 100%;
}

.row {
 margin-left: -15px;
 margin-right: -15px;
}
.row.no-padding {
 margin-left: 0;
 margin-right: 0;
}
.row.no-padding > .col-12, .row.no-padding > .col-11, .row.no-padding > .col-10, .row.no-padding > .col-9, .row.no-padding > .col-8, .row.no-padding > .col-7, .row.no-padding > .col-6, .row.no-padding > .col-5, .row.no-padding > .col-4, .row.no-padding > .col-3, .row.no-padding > .col-2, .row.no-padding > .col-1 {
 padding-left: 0;
 padding-right: 0;
}
.row.no-padding > .col-sm-12, .row.no-padding > .col-sm-11, .row.no-padding > .col-sm-10, .row.no-padding > .col-sm-9, .row.no-padding > .col-sm-8, .row.no-padding > .col-sm-7, .row.no-padding > .col-sm-6, .row.no-padding > .col-sm-5, .row.no-padding > .col-sm-4, .row.no-padding > .col-sm-3, .row.no-padding > .col-sm-2, .row.no-padding > .col-sm-1, .row.no-padding > .col-md-12, .row.no-padding > .col-md-11, .row.no-padding > .col-md-10, .row.no-padding > .col-md-9, .row.no-padding > .col-md-8, .row.no-padding > .col-md-7, .row.no-padding > .col-md-6, .row.no-padding > .col-md-5, .row.no-padding > .col-md-4, .row.no-padding > .col-md-3, .row.no-padding > .col-md-2, .row.no-padding > .col-md-1, .row.no-padding > .col-lg-12, .row.no-padding > .col-lg-11, .row.no-padding > .col-lg-10, .row.no-padding > .col-lg-9, .row.no-padding > .col-lg-8, .row.no-padding > .col-lg-7, .row.no-padding > .col-lg-6, .row.no-padding > .col-lg-5, .row.no-padding > .col-lg-4, .row.no-padding > .col-lg-3, .row.no-padding > .col-lg-2, .row.no-padding > .col-lg-1, .row.no-padding > .col-xl-12, .row.no-padding > .col-xl-11, .row.no-padding > .col-xl-10, .row.no-padding > .col-xl-9, .row.no-padding > .col-xl-8, .row.no-padding > .col-xl-7, .row.no-padding > .col-xl-6, .row.no-padding > .col-xl-5, .row.no-padding > .col-xl-4, .row.no-padding > .col-xl-3, .row.no-padding > .col-xl-2, .row.no-padding > .col-xl-1 {
 padding-left: 0;
 padding-right: 0;
}
.row.wide-padding {
 margin-left: -30px;
 margin-right: -30px;
}
.row.wide-padding > .col-12, .row.wide-padding > .col-11, .row.wide-padding > .col-10, .row.wide-padding > .col-9, .row.wide-padding > .col-8, .row.wide-padding > .col-7, .row.wide-padding > .col-6, .row.wide-padding > .col-5, .row.wide-padding > .col-4, .row.wide-padding > .col-3, .row.wide-padding > .col-2, .row.wide-padding > .col-1 {
 padding-left: 30px;
 padding-right: 30px;
}
.row.wide-padding > .col-sm-12, .row.wide-padding > .col-sm-11, .row.wide-padding > .col-sm-10, .row.wide-padding > .col-sm-9, .row.wide-padding > .col-sm-8, .row.wide-padding > .col-sm-7, .row.wide-padding > .col-sm-6, .row.wide-padding > .col-sm-5, .row.wide-padding > .col-sm-4, .row.wide-padding > .col-sm-3, .row.wide-padding > .col-sm-2, .row.wide-padding > .col-sm-1, .row.wide-padding > .col-md-12, .row.wide-padding > .col-md-11, .row.wide-padding > .col-md-10, .row.wide-padding > .col-md-9, .row.wide-padding > .col-md-8, .row.wide-padding > .col-md-7, .row.wide-padding > .col-md-6, .row.wide-padding > .col-md-5, .row.wide-padding > .col-md-4, .row.wide-padding > .col-md-3, .row.wide-padding > .col-md-2, .row.wide-padding > .col-md-1, .row.wide-padding > .col-lg-12, .row.wide-padding > .col-lg-11, .row.wide-padding > .col-lg-10, .row.wide-padding > .col-lg-9, .row.wide-padding > .col-lg-8, .row.wide-padding > .col-lg-7, .row.wide-padding > .col-lg-6, .row.wide-padding > .col-lg-5, .row.wide-padding > .col-lg-4, .row.wide-padding > .col-lg-3, .row.wide-padding > .col-lg-2, .row.wide-padding > .col-lg-1, .row.wide-padding > .col-xl-12, .row.wide-padding > .col-xl-11, .row.wide-padding > .col-xl-10, .row.wide-padding > .col-xl-9, .row.wide-padding > .col-xl-8, .row.wide-padding > .col-xl-7, .row.wide-padding > .col-xl-6, .row.wide-padding > .col-xl-5, .row.wide-padding > .col-xl-4, .row.wide-padding > .col-xl-3, .row.wide-padding > .col-xl-2, .row.wide-padding > .col-xl-1 {
 padding-left: 30px;
 padding-right: 30px;
}
.row.extra-wide-padding {
 margin-left: -75px;
 margin-right: -75px;
}
.row.extra-wide-padding > .col-12, .row.extra-wide-padding > .col-11, .row.extra-wide-padding > .col-10, .row.extra-wide-padding > .col-9, .row.extra-wide-padding > .col-8, .row.extra-wide-padding > .col-7, .row.extra-wide-padding > .col-6, .row.extra-wide-padding > .col-5, .row.extra-wide-padding > .col-4, .row.extra-wide-padding > .col-3, .row.extra-wide-padding > .col-2, .row.extra-wide-padding > .col-1 {
 padding-left: 75px;
 padding-right: 75px;
}
.row.extra-wide-padding > .col-sm-12, .row.extra-wide-padding > .col-sm-11, .row.extra-wide-padding > .col-sm-10, .row.extra-wide-padding > .col-sm-9, .row.extra-wide-padding > .col-sm-8, .row.extra-wide-padding > .col-sm-7, .row.extra-wide-padding > .col-sm-6, .row.extra-wide-padding > .col-sm-5, .row.extra-wide-padding > .col-sm-4, .row.extra-wide-padding > .col-sm-3, .row.extra-wide-padding > .col-sm-2, .row.extra-wide-padding > .col-sm-1, .row.extra-wide-padding > .col-md-12, .row.extra-wide-padding > .col-md-11, .row.extra-wide-padding > .col-md-10, .row.extra-wide-padding > .col-md-9, .row.extra-wide-padding > .col-md-8, .row.extra-wide-padding > .col-md-7, .row.extra-wide-padding > .col-md-6, .row.extra-wide-padding > .col-md-5, .row.extra-wide-padding > .col-md-4, .row.extra-wide-padding > .col-md-3, .row.extra-wide-padding > .col-md-2, .row.extra-wide-padding > .col-md-1, .row.extra-wide-padding > .col-lg-12, .row.extra-wide-padding > .col-lg-11, .row.extra-wide-padding > .col-lg-10, .row.extra-wide-padding > .col-lg-9, .row.extra-wide-padding > .col-lg-8, .row.extra-wide-padding > .col-lg-7, .row.extra-wide-padding > .col-lg-6, .row.extra-wide-padding > .col-lg-5, .row.extra-wide-padding > .col-lg-4, .row.extra-wide-padding > .col-lg-3, .row.extra-wide-padding > .col-lg-2, .row.extra-wide-padding > .col-lg-1, .row.extra-wide-padding > .col-xl-12, .row.extra-wide-padding > .col-xl-11, .row.extra-wide-padding > .col-xl-10, .row.extra-wide-padding > .col-xl-9, .row.extra-wide-padding > .col-xl-8, .row.extra-wide-padding > .col-xl-7, .row.extra-wide-padding > .col-xl-6, .row.extra-wide-padding > .col-xl-5, .row.extra-wide-padding > .col-xl-4, .row.extra-wide-padding > .col-xl-3, .row.extra-wide-padding > .col-xl-2, .row.extra-wide-padding > .col-xl-1 {
 padding-left: 75px;
 padding-right: 75px;
}
.row:before {
 display: table;
 content: " ";
 clear: both;
}
.row:after {
 display: table;
 content: " ";
 clear: both;
}

.sub-row .col-sub:nth-of-type(odd) {
 padding-left: 0px;
 padding-right: 0px;
}
@media (min-width: 768px) {
 .sub-row .col-sub:nth-of-type(odd) {
 padding-right: 15px;
 padding-left: 0px;
 }
}
.sub-row .col-sub:nth-of-type(even) {
 padding-left: 0px;
 padding-right: 0px;
}
@media (min-width: 768px) {
 .sub-row .col-sub:nth-of-type(even) {
 padding-left: 20px;
 padding-right: 0px;
 }
}
.sub-row .col-sub .agenda-track {
 padding-right: 15px;
}

.no-col-padding.col-12, .no-col-padding.col-11, .no-col-padding.col-10, .no-col-padding.col-9, .no-col-padding.col-8, .no-col-padding.col-7, .no-col-padding.col-6, .no-col-padding.col-5, .no-col-padding.col-4, .no-col-padding.col-3, .no-col-padding.col-2, .no-col-padding.col-1 {
 padding-left: 0;
 padding-right: 0;
}
.no-col-padding.col-sm, .no-col-padding.col-md, .no-col-padding.col-lg, .no-col-padding.col-xl {
 padding-left: 0;
 padding-right: 0;
}
.no-col-padding.col-sm-12, .no-col-padding.col-sm-11, .no-col-padding.col-sm-10, .no-col-padding.col-sm-9, .no-col-padding.col-sm-8, .no-col-padding.col-sm-7, .no-col-padding.col-sm-6, .no-col-padding.col-sm-5, .no-col-padding.col-sm-4, .no-col-padding.col-sm-3, .no-col-padding.col-sm-2, .no-col-padding.col-sm-1, .no-col-padding.col-md-12, .no-col-padding.col-md-11, .no-col-padding.col-md-10, .no-col-padding.col-md-9, .no-col-padding.col-md-8, .no-col-padding.col-md-7, .no-col-padding.col-md-6, .no-col-padding.col-md-5, .no-col-padding.col-md-4, .no-col-padding.col-md-3, .no-col-padding.col-md-2, .no-col-padding.col-md-1, .no-col-padding.col-lg-12, .no-col-padding.col-lg-11, .no-col-padding.col-lg-10, .no-col-padding.col-lg-9, .no-col-padding.col-lg-8, .no-col-padding.col-lg-7, .no-col-padding.col-lg-6, .no-col-padding.col-lg-5, .no-col-padding.col-lg-4, .no-col-padding.col-lg-3, .no-col-padding.col-lg-2, .no-col-padding.col-lg-1, .no-col-padding.col-xl-12, .no-col-padding.col-xl-11, .no-col-padding.col-xl-10, .no-col-padding.col-xl-9, .no-col-padding.col-xl-8, .no-col-padding.col-xl-7, .no-col-padding.col-xl-6, .no-col-padding.col-xl-5, .no-col-padding.col-xl-4, .no-col-padding.col-xl-3, .no-col-padding.col-xl-2, .no-col-padding.col-xl-1 {
 padding-left: 0;
 padding-right: 0;
}

.col-12 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-12 {
 float: left;
 width: 100%;
 position: relative;
 }
}
.col-11 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-11 {
 float: left;
 width: 91.66667%;
 position: relative;
 }
}
.col-10 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-10 {
 float: left;
 width: 83.33333%;
 position: relative;
 }
}
.col-9 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-9 {
 float: left;
 width: 75%;
 position: relative;
 }
}
.col-8 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-8 {
 float: left;
 width: 66.66667%;
 position: relative;
 }
}
.col-7 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-7 {
 float: left;
 width: 58.33333%;
 position: relative;
 }
}
.col-6 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-6 {
 float: left;
 width: 50%;
 position: relative;
 }
}
.col-5 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-5 {
 float: left;
 width: 41.66667%;
 position: relative;
 }
}
.col-4 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-4 {
 float: left;
 width: 33.33333%;
 position: relative;
 }
}
.col-3 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-3 {
 float: left;
 width: 25%;
 position: relative;
 }
}
.col-2 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-2 {
 float: left;
 width: 16.66667%;
 position: relative;
 }
}
.col-1 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 0) {
 .col-1 {
 float: left;
 width: 8.33333%;
 position: relative;
 }
}
@media (min-width: 0) {
 .col-offset-12 {
 margin-left: 100%;
 }
}
@media (min-width: 0) {
 .col-offset-11 {
 margin-left: 91.66667%;
 }
}
@media (min-width: 0) {
 .col-offset-10 {
 margin-left: 83.33333%;
 }
}
@media (min-width: 0) {
 .col-offset-9 {
 margin-left: 75%;
 }
}
@media (min-width: 0) {
 .col-offset-8 {
 margin-left: 66.66667%;
 }
}
@media (min-width: 0) {
 .col-offset-7 {
 margin-left: 58.33333%;
 }
}
@media (min-width: 0) {
 .col-offset-6 {
 margin-left: 50%;
 }
}
@media (min-width: 0) {
 .col-offset-5 {
 margin-left: 41.66667%;
 }
}
@media (min-width: 0) {
 .col-offset-4 {
 margin-left: 33.33333%;
 }
}
@media (min-width: 0) {
 .col-offset-3 {
 margin-left: 25%;
 }
}
@media (min-width: 0) {
 .col-offset-2 {
 margin-left: 16.66667%;
 }
}
@media (min-width: 0) {
 .col-offset-1 {
 margin-left: 8.33333%;
 }
}
@media (min-width: 0) {
 .col-pull-12 {
 right: 100%;
 }
}
@media (min-width: 0) {
 .col-push-12 {
 left: 100%;
 }
}
@media (min-width: 0) {
 .col-pull-11 {
 right: 91.66667%;
 }
}
@media (min-width: 0) {
 .col-push-11 {
 left: 91.66667%;
 }
}
@media (min-width: 0) {
 .col-pull-10 {
 right: 83.33333%;
 }
}
@media (min-width: 0) {
 .col-push-10 {
 left: 83.33333%;
 }
}
@media (min-width: 0) {
 .col-pull-9 {
 right: 75%;
 }
}
@media (min-width: 0) {
 .col-push-9 {
 left: 75%;
 }
}
@media (min-width: 0) {
 .col-pull-8 {
 right: 66.66667%;
 }
}
@media (min-width: 0) {
 .col-push-8 {
 left: 66.66667%;
 }
}
@media (min-width: 0) {
 .col-pull-7 {
 right: 58.33333%;
 }
}
@media (min-width: 0) {
 .col-push-7 {
 left: 58.33333%;
 }
}
@media (min-width: 0) {
 .col-pull-6 {
 right: 50%;
 }
}
@media (min-width: 0) {
 .col-push-6 {
 left: 50%;
 }
}
@media (min-width: 0) {
 .col-pull-5 {
 right: 41.66667%;
 }
}
@media (min-width: 0) {
 .col-push-5 {
 left: 41.66667%;
 }
}
@media (min-width: 0) {
 .col-pull-4 {
 right: 33.33333%;
 }
}
@media (min-width: 0) {
 .col-push-4 {
 left: 33.33333%;
 }
}
@media (min-width: 0) {
 .col-pull-3 {
 right: 25%;
 }
}
@media (min-width: 0) {
 .col-push-3 {
 left: 25%;
 }
}
@media (min-width: 0) {
 .col-pull-2 {
 right: 16.66667%;
 }
}
@media (min-width: 0) {
 .col-push-2 {
 left: 16.66667%;
 }
}
@media (min-width: 0) {
 .col-pull-1 {
 right: 8.33333%;
 }
}
@media (min-width: 0) {
 .col-push-1 {
 left: 8.33333%;
 }
}

.col-sm-12 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-12 {
 float: left;
 width: 100%;
 position: relative;
 }
}
.col-sm-11 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-11 {
 float: left;
 width: 91.66667%;
 position: relative;
 }
}
.col-sm-10 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-10 {
 float: left;
 width: 83.33333%;
 position: relative;
 }
}
.col-sm-9 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-9 {
 float: left;
 width: 75%;
 position: relative;
 }
}
.col-sm-8 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-8 {
 float: left;
 width: 66.66667%;
 position: relative;
 }
}
.col-sm-7 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-7 {
 float: left;
 width: 58.33333%;
 position: relative;
 }
}
.col-sm-6 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-6 {
 float: left;
 width: 50%;
 position: relative;
 }
}
.col-sm-5 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-5 {
 float: left;
 width: 41.66667%;
 position: relative;
 }
}
.col-sm-4 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-4 {
 float: left;
 width: 33.33333%;
 position: relative;
 }
}
.col-sm-3 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-3 {
 float: left;
 width: 25%;
 position: relative;
 }
}
.col-sm-2 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-2 {
 float: left;
 width: 16.66667%;
 position: relative;
 }
}
.col-sm-1 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 568px) {
 .col-sm-1 {
 float: left;
 width: 8.33333%;
 position: relative;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-12 {
 margin-left: 100%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-11 {
 margin-left: 91.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-10 {
 margin-left: 83.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-9 {
 margin-left: 75%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-8 {
 margin-left: 66.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-7 {
 margin-left: 58.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-6 {
 margin-left: 50%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-5 {
 margin-left: 41.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-4 {
 margin-left: 33.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-3 {
 margin-left: 25%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-2 {
 margin-left: 16.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-offset-1 {
 margin-left: 8.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-12 {
 right: 100%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-12 {
 left: 100%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-11 {
 right: 91.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-11 {
 left: 91.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-10 {
 right: 83.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-10 {
 left: 83.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-9 {
 right: 75%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-9 {
 left: 75%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-8 {
 right: 66.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-8 {
 left: 66.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-7 {
 right: 58.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-7 {
 left: 58.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-6 {
 right: 50%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-6 {
 left: 50%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-5 {
 right: 41.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-5 {
 left: 41.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-4 {
 right: 33.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-4 {
 left: 33.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-3 {
 right: 25%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-3 {
 left: 25%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-2 {
 right: 16.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-2 {
 left: 16.66667%;
 }
}
@media (min-width: 568px) {
 .col-sm-pull-1 {
 right: 8.33333%;
 }
}
@media (min-width: 568px) {
 .col-sm-push-1 {
 left: 8.33333%;
 }
}

.col-md-12 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-12 {
 float: left;
 width: 100%;
 position: relative;
 }
}
.col-md-11 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-11 {
 float: left;
 width: 91.66667%;
 position: relative;
 }
}
.col-md-10 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-10 {
 float: left;
 width: 83.33333%;
 position: relative;
 }
}
.col-md-9 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-9 {
 float: left;
 width: 75%;
 position: relative;
 }
}
.col-md-8 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-8 {
 float: left;
 width: 66.66667%;
 position: relative;
 }
}
.col-md-7 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-7 {
 float: left;
 width: 58.33333%;
 position: relative;
 }
}
.col-md-6 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-6 {
 float: left;
 width: 50%;
 position: relative;
 }
}
.col-md-5 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-5 {
 float: left;
 width: 41.66667%;
 position: relative;
 }
}
.col-md-4 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-4 {
 float: left;
 width: 33.33333%;
 position: relative;
 }
}
.col-md-3 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-3 {
 float: left;
 width: 25%;
 position: relative;
 }
}
.col-md-2 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-2 {
 float: left;
 width: 16.66667%;
 position: relative;
 }
}
.col-md-1 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 768px) {
 .col-md-1 {
 float: left;
 width: 8.33333%;
 position: relative;
 }
}
@media (min-width: 768px) {
 .col-md-offset-12 {
 margin-left: 100%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-11 {
 margin-left: 91.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-10 {
 margin-left: 83.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-9 {
 margin-left: 75%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-8 {
 margin-left: 66.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-7 {
 margin-left: 58.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-6 {
 margin-left: 50%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-5 {
 margin-left: 41.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-4 {
 margin-left: 33.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-3 {
 margin-left: 25%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-2 {
 margin-left: 16.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-offset-1 {
 margin-left: 8.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-12 {
 right: 100%;
 }
}
@media (min-width: 768px) {
 .col-md-push-12 {
 left: 100%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-11 {
 right: 91.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-push-11 {
 left: 91.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-10 {
 right: 83.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-push-10 {
 left: 83.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-9 {
 right: 75%;
 }
}
@media (min-width: 768px) {
 .col-md-push-9 {
 left: 75%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-8 {
 right: 66.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-push-8 {
 left: 66.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-7 {
 right: 58.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-push-7 {
 left: 58.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-6 {
 right: 50%;
 }
}
@media (min-width: 768px) {
 .col-md-push-6 {
 left: 50%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-5 {
 right: 41.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-push-5 {
 left: 41.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-4 {
 right: 33.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-push-4 {
 left: 33.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-3 {
 right: 25%;
 }
}
@media (min-width: 768px) {
 .col-md-push-3 {
 left: 25%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-2 {
 right: 16.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-push-2 {
 left: 16.66667%;
 }
}
@media (min-width: 768px) {
 .col-md-pull-1 {
 right: 8.33333%;
 }
}
@media (min-width: 768px) {
 .col-md-push-1 {
 left: 8.33333%;
 }
}

.col-lg-12 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-12 {
 float: left;
 width: 100%;
 position: relative;
 }
}
.col-lg-11 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-11 {
 float: left;
 width: 91.66667%;
 position: relative;
 }
}
.col-lg-10 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-10 {
 float: left;
 width: 83.33333%;
 position: relative;
 }
}
.col-lg-9 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-9 {
 float: left;
 width: 75%;
 position: relative;
 }
}
.col-lg-8 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-8 {
 float: left;
 width: 66.66667%;
 position: relative;
 }
}
.col-lg-7 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-7 {
 float: left;
 width: 58.33333%;
 position: relative;
 }
}
.col-lg-6 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-6 {
 float: left;
 width: 50%;
 position: relative;
 }
}
.col-lg-5 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-5 {
 float: left;
 width: 41.66667%;
 position: relative;
 }
}
.col-lg-4 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-4 {
 float: left;
 width: 33.33333%;
 position: relative;
 }
}
.col-lg-3 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-3 {
 float: left;
 width: 25%;
 position: relative;
 }
}
.col-lg-2 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-2 {
 float: left;
 width: 16.66667%;
 position: relative;
 }
}
.col-lg-1 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 900px) {
 .col-lg-1 {
 float: left;
 width: 8.33333%;
 position: relative;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-12 {
 margin-left: 100%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-11 {
 margin-left: 91.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-10 {
 margin-left: 83.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-9 {
 margin-left: 75%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-8 {
 margin-left: 66.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-7 {
 margin-left: 58.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-6 {
 margin-left: 50%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-5 {
 margin-left: 41.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-4 {
 margin-left: 33.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-3 {
 margin-left: 25%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-2 {
 margin-left: 16.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-offset-1 {
 margin-left: 8.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-12 {
 right: 100%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-12 {
 left: 100%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-11 {
 right: 91.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-11 {
 left: 91.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-10 {
 right: 83.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-10 {
 left: 83.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-9 {
 right: 75%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-9 {
 left: 75%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-8 {
 right: 66.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-8 {
 left: 66.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-7 {
 right: 58.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-7 {
 left: 58.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-6 {
 right: 50%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-6 {
 left: 50%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-5 {
 right: 41.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-5 {
 left: 41.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-4 {
 right: 33.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-4 {
 left: 33.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-3 {
 right: 25%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-3 {
 left: 25%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-2 {
 right: 16.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-2 {
 left: 16.66667%;
 }
}
@media (min-width: 900px) {
 .col-lg-pull-1 {
 right: 8.33333%;
 }
}
@media (min-width: 900px) {
 .col-lg-push-1 {
 left: 8.33333%;
 }
}

.col-xl-12 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-12 {
 float: left;
 width: 100%;
 position: relative;
 }
}
.col-xl-11 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-11 {
 float: left;
 width: 91.66667%;
 position: relative;
 }
}
.col-xl-10 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-10 {
 float: left;
 width: 83.33333%;
 position: relative;
 }
}
.col-xl-9 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-9 {
 float: left;
 width: 75%;
 position: relative;
 }
}
.col-xl-8 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-8 {
 float: left;
 width: 66.66667%;
 position: relative;
 }
}
.col-xl-7 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-7 {
 float: left;
 width: 58.33333%;
 position: relative;
 }
}
.col-xl-6 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-6 {
 float: left;
 width: 50%;
 position: relative;
 }
}
.col-xl-5 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-5 {
 float: left;
 width: 41.66667%;
 position: relative;
 }
}
.col-xl-4 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-4 {
 float: left;
 width: 33.33333%;
 position: relative;
 }
}
.col-xl-3 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-3 {
 float: left;
 width: 25%;
 position: relative;
 }
}
.col-xl-2 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-2 {
 float: left;
 width: 16.66667%;
 position: relative;
 }
}
.col-xl-1 {
 padding-left: 15px;
 padding-right: 15px;
}
@media (min-width: 1200px) {
 .col-xl-1 {
 float: left;
 width: 8.33333%;
 position: relative;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-12 {
 margin-left: 100%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-11 {
 margin-left: 91.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-10 {
 margin-left: 83.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-9 {
 margin-left: 75%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-8 {
 margin-left: 66.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-7 {
 margin-left: 58.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-6 {
 margin-left: 50%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-5 {
 margin-left: 41.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-4 {
 margin-left: 33.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-3 {
 margin-left: 25%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-2 {
 margin-left: 16.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-offset-1 {
 margin-left: 8.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-12 {
 right: 100%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-12 {
 left: 100%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-11 {
 right: 91.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-11 {
 left: 91.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-10 {
 right: 83.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-10 {
 left: 83.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-9 {
 right: 75%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-9 {
 left: 75%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-8 {
 right: 66.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-8 {
 left: 66.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-7 {
 right: 58.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-7 {
 left: 58.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-6 {
 right: 50%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-6 {
 left: 50%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-5 {
 right: 41.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-5 {
 left: 41.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-4 {
 right: 33.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-4 {
 left: 33.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-3 {
 right: 25%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-3 {
 left: 25%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-2 {
 right: 16.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-2 {
 left: 16.66667%;
 }
}
@media (min-width: 1200px) {
 .col-xl-pull-1 {
 right: 8.33333%;
 }
}
@media (min-width: 1200px) {
 .col-xl-push-1 {
 left: 8.33333%;
 }
}

.spacer-bottom {
 margin-bottom: 30px;
}

@media (max-width: 1199px) {
 .hidden-xl {
 display: none !important;
 }
}

@media (max-width: 899px) {
 .hidden-lg {
 display: none !important;
 }
}

@media (max-width: 767px) {
 .hidden-md {
 display: none !important;
 }
}

@media (max-width: 567px) {
 .hidden-sm {
 display: none !important;
 }
}

.hidden {
 display: none !important;
}

@media (min-width: 1200px) {
 .visible-xl {
 display: none !important;
 }
}

@media (min-width: 900px) {
 .visible-lg {
 display: none !important;
 }
}

@media (min-width: 768px) {
 .visible-md {
 display: none !important;
 }
}

@media (min-width: 568px) {
 .visible-sm {
 display: none !important;
 }
}

@media (min-width: 0) {
 .divide0 {
 width: 100%;
 height: 0px;
 }
}
@media (min-width: 0) {
 .divide2 {
 width: 100%;
 height: 2px;
 }
}
@media (min-width: 0) {
 .divide3 {
 width: 100%;
 height: 3px;
 }
}
@media (min-width: 0) {
 .divide5 {
 width: 100%;
 height: 5px;
 }
}
@media (min-width: 0) {
 .divide10 {
 width: 100%;
 height: 10px;
 }
}
@media (min-width: 0) {
 .divide15 {
 width: 100%;
 height: 15px;
 }
}
@media (min-width: 0) {
 .divide20 {
 width: 100%;
 height: 20px;
 }
}
@media (min-width: 0) {
 .divide25 {
 width: 100%;
 height: 25px;
 }
}
@media (min-width: 0) {
 .divide30 {
 width: 100%;
 height: 30px;
 }
}
@media (min-width: 0) {
 .divide35 {
 width: 100%;
 height: 35px;
 }
}
@media (min-width: 0) {
 .divide40 {
 width: 100%;
 height: 40px;
 }
}
@media (min-width: 0) {
 .divide45 {
 width: 100%;
 height: 45px;
 }
}
@media (min-width: 0) {
 .divide50 {
 width: 100%;
 height: 50px;
 }
}
@media (min-width: 0) {
 .divide55 {
 width: 100%;
 height: 55px;
 }
}
@media (min-width: 0) {
 .divide60 {
 width: 100%;
 height: 60px;
 }
}
@media (min-width: 0) {
 .divide65 {
 width: 100%;
 height: 65px;
 }
}
@media (min-width: 0) {
 .divide70 {
 width: 100%;
 height: 70px;
 }
}
@media (min-width: 0) {
 .divide75 {
 width: 100%;
 height: 75px;
 }
}
@media (min-width: 0) {
 .divide80 {
 width: 100%;
 height: 80px;
 }
}
@media (min-width: 568px) {
 .divide-sm-0 {
 width: 100%;
 height: 0px;
 }
}
@media (min-width: 568px) {
 .divide-sm-2 {
 width: 100%;
 height: 2px;
 }
}
@media (min-width: 568px) {
 .divide-sm-3 {
 width: 100%;
 height: 3px;
 }
}
@media (min-width: 568px) {
 .divide-sm-5 {
 width: 100%;
 height: 5px;
 }
}
@media (min-width: 568px) {
 .divide-sm-10 {
 width: 100%;
 height: 10px;
 }
}
@media (min-width: 568px) {
 .divide-sm-15 {
 width: 100%;
 height: 15px;
 }
}
@media (min-width: 568px) {
 .divide-sm-20 {
 width: 100%;
 height: 20px;
 }
}
@media (min-width: 568px) {
 .divide-sm-25 {
 width: 100%;
 height: 25px;
 }
}
@media (min-width: 568px) {
 .divide-sm-30 {
 width: 100%;
 height: 30px;
 }
}
@media (min-width: 568px) {
 .divide-sm-35 {
 width: 100%;
 height: 35px;
 }
}
@media (min-width: 568px) {
 .divide-sm-40 {
 width: 100%;
 height: 40px;
 }
}
@media (min-width: 568px) {
 .divide-sm-45 {
 width: 100%;
 height: 45px;
 }
}
@media (min-width: 568px) {
 .divide-sm-50 {
 width: 100%;
 height: 50px;
 }
}
@media (min-width: 568px) {
 .divide-sm-55 {
 width: 100%;
 height: 55px;
 }
}
@media (min-width: 568px) {
 .divide-sm-60 {
 width: 100%;
 height: 60px;
 }
}
@media (min-width: 568px) {
 .divide-sm-65 {
 width: 100%;
 height: 65px;
 }
}
@media (min-width: 568px) {
 .divide-sm-70 {
 width: 100%;
 height: 70px;
 }
}
@media (min-width: 568px) {
 .divide-sm-75 {
 width: 100%;
 height: 75px;
 }
}
@media (min-width: 568px) {
 .divide-sm-80 {
 width: 100%;
 height: 80px;
 }
}
@media (min-width: 768px) {
 .divide-md-0 {
 width: 100%;
 height: 0px;
 }
}
@media (min-width: 768px) {
 .divide-md-2 {
 width: 100%;
 height: 2px;
 }
}
@media (min-width: 768px) {
 .divide-md-3 {
 width: 100%;
 height: 3px;
 }
}
@media (min-width: 768px) {
 .divide-md-5 {
 width: 100%;
 height: 5px;
 }
}
@media (min-width: 768px) {
 .divide-md-10 {
 width: 100%;
 height: 10px;
 }
}
@media (min-width: 768px) {
 .divide-md-15 {
 width: 100%;
 height: 15px;
 }
}
@media (min-width: 768px) {
 .divide-md-20 {
 width: 100%;
 height: 20px;
 }
}
@media (min-width: 768px) {
 .divide-md-25 {
 width: 100%;
 height: 25px;
 }
}
@media (min-width: 768px) {
 .divide-md-30 {
 width: 100%;
 height: 30px;
 }
}
@media (min-width: 768px) {
 .divide-md-35 {
 width: 100%;
 height: 35px;
 }
}
@media (min-width: 768px) {
 .divide-md-40 {
 width: 100%;
 height: 40px;
 }
}
@media (min-width: 768px) {
 .divide-md-45 {
 width: 100%;
 height: 45px;
 }
}
@media (min-width: 768px) {
 .divide-md-50 {
 width: 100%;
 height: 50px;
 }
}
@media (min-width: 768px) {
 .divide-md-55 {
 width: 100%;
 height: 55px;
 }
}
@media (min-width: 768px) {
 .divide-md-60 {
 width: 100%;
 height: 60px;
 }
}
@media (min-width: 768px) {
 .divide-md-65 {
 width: 100%;
 height: 65px;
 }
}
@media (min-width: 768px) {
 .divide-md-70 {
 width: 100%;
 height: 70px;
 }
}
@media (min-width: 768px) {
 .divide-md-75 {
 width: 100%;
 height: 75px;
 }
}
@media (min-width: 768px) {
 .divide-md-80 {
 width: 100%;
 height: 80px;
 }
}
@media (min-width: 900px) {
 .divide-lg-0 {
 width: 100%;
 height: 0px;
 }
}
@media (min-width: 900px) {
 .divide-lg-2 {
 width: 100%;
 height: 2px;
 }
}
@media (min-width: 900px) {
 .divide-lg-3 {
 width: 100%;
 height: 3px;
 }
}
@media (min-width: 900px) {
 .divide-lg-5 {
 width: 100%;
 height: 5px;
 }
}
@media (min-width: 900px) {
 .divide-lg-10 {
 width: 100%;
 height: 10px;
 }
}
@media (min-width: 900px) {
 .divide-lg-15 {
 width: 100%;
 height: 15px;
 }
}
@media (min-width: 900px) {
 .divide-lg-20 {
 width: 100%;
 height: 20px;
 }
}
@media (min-width: 900px) {
 .divide-lg-25 {
 width: 100%;
 height: 25px;
 }
}
@media (min-width: 900px) {
 .divide-lg-30 {
 width: 100%;
 height: 30px;
 }
}
@media (min-width: 900px) {
 .divide-lg-35 {
 width: 100%;
 height: 35px;
 }
}
@media (min-width: 900px) {
 .divide-lg-40 {
 width: 100%;
 height: 40px;
 }
}
@media (min-width: 900px) {
 .divide-lg-45 {
 width: 100%;
 height: 45px;
 }
}
@media (min-width: 900px) {
 .divide-lg-50 {
 width: 100%;
 height: 50px;
 }
}
@media (min-width: 900px) {
 .divide-lg-55 {
 width: 100%;
 height: 55px;
 }
}
@media (min-width: 900px) {
 .divide-lg-60 {
 width: 100%;
 height: 60px;
 }
}
@media (min-width: 900px) {
 .divide-lg-65 {
 width: 100%;
 height: 65px;
 }
}
@media (min-width: 900px) {
 .divide-lg-70 {
 width: 100%;
 height: 70px;
 }
}
@media (min-width: 900px) {
 .divide-lg-75 {
 width: 100%;
 height: 75px;
 }
}
@media (min-width: 900px) {
 .divide-lg-80 {
 width: 100%;
 height: 80px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-0 {
 width: 100%;
 height: 0px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-2 {
 width: 100%;
 height: 2px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-3 {
 width: 100%;
 height: 3px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-5 {
 width: 100%;
 height: 5px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-10 {
 width: 100%;
 height: 10px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-15 {
 width: 100%;
 height: 15px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-20 {
 width: 100%;
 height: 20px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-25 {
 width: 100%;
 height: 25px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-30 {
 width: 100%;
 height: 30px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-35 {
 width: 100%;
 height: 35px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-40 {
 width: 100%;
 height: 40px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-45 {
 width: 100%;
 height: 45px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-50 {
 width: 100%;
 height: 50px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-55 {
 width: 100%;
 height: 55px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-60 {
 width: 100%;
 height: 60px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-65 {
 width: 100%;
 height: 65px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-70 {
 width: 100%;
 height: 70px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-75 {
 width: 100%;
 height: 75px;
 }
}
@media (min-width: 1200px) {
 .divide-xl-80 {
 width: 100%;
 height: 80px;
 }
}

body {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 font-size: 16px;
 line-height: 1.4;
}

h1, .h1 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 font-weight: 300;
 text-transform: none;
 font-size: 30px;
}
@media (min-width: 900px) {
 h1, .h1 {
 font-size: 36px;
 }
}
@media (min-width: 900px) {
 h1.large, .h1.large {
 font-size: 45px;
 }
}

h2, .h2 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 font-weight: 600;
 text-transform: none;
 font-size: 24px;
 line-height: 1.2;
}

h3, .presenter-name, .h3 {
 font-family: "Arimo", helvetica, arial, sans-serif;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 22px;
}

h4, .h4 {
 font-family: "Open Sans", helvetica, arial, sans-serif;
 font-weight: 300;
 text-transform: none;
 font-size: 24px;
}

h5, .h5 {
 font-family: "Arimo", helvetica, arial, sans-serif;
 font-weight: 700;
 text-transform: none;
 font-size: 18px;
}

p {
 margin-bottom: 10px;
}

.inline-h3 {
 font-family: "Arimo", helvetica, arial, sans-serif;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 22px;
 display: inline-block;
 margin-bottom: 0;
}

p.no-bottom-margin {
 margin-bottom: 0;
}

.heading-font, .heading-copy {
 font-family: "Arimo", helvetica, arial, sans-serif;
}

.body-font, .body-copy {
 font-family: "Open Sans", helvetica, arial, sans-serif;
}

a {
 -moz-transition: all 0.15s;
 -o-transition: all 0.15s;
 -webkit-transition: all 0.15s;
 transition: all 0.15s;
 color: #35abe2;
 font-weight: 600;
 text-decoration: none;
}
a:hover, a:focus {
 color: #78c7ec;
}
a.blank {
 color: inherit;
 font-weight: inherit;
}
a.blank:hover, a.blank:focus {
 color: inherit;
}

.uppercase {
 text-transform: uppercase;
}

.normalcase {
 text-transform: none;
}

.bold, strong, b {
 font-weight: 700;
}

.light-weight {
 font-weight: 200;
}

.italic, i {
 font-style: italic;
}

.semi-bold {
 font-weight: 600;
}

.large-bold {
 font-size: 28px;
 font-weight: 700;
 line-height: 1.5;
}
@media (min-width: 768px) {
 .large-bold {
 font-size: 32px;
 }
}

.text-center {
 text-align: center;
}

.text-left {
 text-align: left;
}

.text-right {
 text-align: right;
}

.disclaimer {
 font-size: 75%;
}

sup {
 font-size: 70%;
 font-weight: 600;
 vertical-align: super;
}

.smaller {
 font-size: 16px;
 line-height: 1.3;
}

.black-bg {
 background-color: #000;
}
.black-bg .btn-black:hover, .black-bg .btn-black:focus, .black-bg .btn-black:active {
 color: #35abe2;
}

.grey-bg {
 background-color: #f5f5f5;
}

.dk-grey-bg {
 background-color: #222;
}

.white-bg {
 background-color: #fff;
}

.text-black {
 color: #000;
}

.white-bg {
 background-color: #fff;
}

.text-white {
 color: #fff;
}

.sr-only {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 border: 0;
}

input {
 color: #fff;
 font-family: "Arimo", helvetica, arial, sans-serif;
 font-weight: 700;
 padding: 14px 0;
 font-size: 18px;
 border: 0;
 width: 100%;
 background-color: transparent;
 outline: 0;
 border-bottom: 3px solid #808080;
 -moz-border-radius: 0;
 -webkit-border-radius: 0;
 border-radius: 0;
 -moz-transition: all 0.05s;
 -o-transition: all 0.05s;
 -webkit-transition: all 0.05s;
 transition: all 0.05s;
}

.sw {
 background-color: #e9e9e9;
}
.sw .header-wrapper {
 position: relative;
 z-index: 10;
 background-color: #212121;
}
.sw .header-wrapper .logo-wrap {
 padding: 9px 0;
 width: 100%;
 display: block;
 position: relative;
}
@media (min-width: 768px) {
 .sw .header-wrapper .logo-wrap {
 padding: 10px 0;
 }
}
.sw .header-wrapper .logo-wrap .logo {
 padding: 10px;
 width: 70%;
 margin: 0 auto;
 display: block;
 vertical-align: middle;
 margin: 0 auto;
 display: block;
 vertical-align: middle;
}
@media (min-width: 900px) {
 .sw .header-wrapper .logo-wrap .logo {
 width: 30%;
 margin: 0;
 }
}
@media (min-width: 1200px) {
 .sw .header-wrapper .logo-wrap .logo {
 width: 22%;
 }
}
.sw .header-wrapper .logo-wrap .logo img {
 display: block;
 width: 100%;
}
.sw .header-wrapper .search-form {
 padding: 35px 0;
}
.sw .header-wrapper .search-form .search-wrapper {
 border-bottom: 3px solid #fff;
 position: relative;
 overflow: hidden;
}
.sw .header-wrapper .search-form .search-wrapper input, .sw .header-wrapper .search-form .search-wrapper .custom-select {
 border: none;
 min-width: 90%;
}
.sw .header-wrapper .search-form .search-wrapper button {
 background: none;
 border: none;
 position: absolute;
 right: -6px;
 top: 50%;
 margin-top: -13px;
}
.sw .main-content-wrapper {
 overflow: hidden;
 padding-top: 60px;
 min-height: calc(100vh - 122px);
 background-size: contain;
}
.sw .main-content-wrapper .loader {
 display: block;
 text-align: center;
 height: 75px;
 width: 100%;
 clear: both;
}
.sw .main-content-wrapper .loader .loader-image {
 animation: rotate 1.5s linear infinite;
 background-image: url('../assets/sw-loader.png?1598876113');
 width: 120px;
 height: 120px;
 background-size: 100%;
 border: 3px solid #808080;
 display: inline-block;
 background-repeat: no-repeat;
 border-radius: 60px;
}
.sw .main-content-wrapper .person-wrapper .person-card {
 padding: 25px;
 margin: 25px 0;
 border: 3px solid #000;
 width: 100%;
 min-height: 175px;
 background-color: rgba(255, 255, 255, 0.85);
}
@media (min-width: 768px) {
 .sw .main-content-wrapper .person-wrapper .person-card {
 width: 97%;
 }
}
.sw .main-content-wrapper .person-wrapper .person-card h3, .sw .main-content-wrapper .person-wrapper .person-card .presenter-name {
 margin-bottom: 10px;
}
.sw .main-content-wrapper .person-wrapper .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper .person-card .presenter-name .fa {
 padding-right: 10px;
 color: #000;
}
.sw .main-content-wrapper .person-wrapper .person-card .label {
 font-weight: 700;
 color: #000;
}
.sw .main-content-wrapper .person-wrapper .person-card .attr {
 font-weight: 300;
 text-transform: capitalize;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+1) .person-card {
 border-color: #cc3300;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+1) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+1) .person-card .presenter-name .fa {
 color: #cc3300;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+1) .person-card .label {
 color: #cc3300;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+2) .person-card {
 border-color: #999933;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+2) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+2) .person-card .presenter-name .fa {
 color: #999933;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+2) .person-card .label {
 color: #999933;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+3) .person-card {
 border-color: #336600;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+3) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+3) .person-card .presenter-name .fa {
 color: #336600;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+3) .person-card .label {
 color: #336600;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+4) .person-card {
 border-color: #993366;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+4) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+4) .person-card .presenter-name .fa {
 color: #993366;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+4) .person-card .label {
 color: #993366;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+5) .person-card {
 border-color: #c85e09;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+5) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+5) .person-card .presenter-name .fa {
 color: #c85e09;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+5) .person-card .label {
 color: #c85e09;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+6) .person-card {
 border-color: #0099cc;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+6) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+6) .person-card .presenter-name .fa {
 color: #0099cc;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+6) .person-card .label {
 color: #0099cc;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+7) .person-card {
 border-color: #006264;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+7) .person-card h3 .fa, .sw .main-content-wrapper .person-wrapper:nth-child(7n+7) .person-card .presenter-name .fa {
 color: #006264;
}
.sw .main-content-wrapper .person-wrapper:nth-child(7n+7) .person-card .label {
 color: #006264;
}

@keyframes rotate {
 to {
 transform: rotate(360deg);
 }
}